<div class="h-screen flex-1 flex flex-col">
    <app-header [extendedFunctionality]="true" [isDisplayPage]="true" [integrationId]="integration?.id"></app-header>
    <div class="flex flex-1 items-center m-4 sm:m-16 rounded shadow-2xl z-10 flex-col">
        <div class="font-bold md:text-2xl p-4 border-purple-800 border-b-2">
            {{integration?.name}}
        </div>
        <mat-tab-group class="py-2 w-full" animationDuration="2000ms" dynamicHeight="true">
            <mat-tab *ngFor="let item of mainVersion?.categoryList"  [label]="item.name">
                <div class="flex-1 p-4 sm:p-20 flex flex-col items-center justify-center">
                    <div class="p-2 sm:p-8 shadow-md flex flex-col items-center justify-center">
                        <div class="mx-auto">category: {{item.name}}</div>
                        <div class="mx-auto">budget: {{item.fullCost}} e</div>
                    </div>
                    <div class="sm:grid sm:grid-flow-col w-full p-2 sm:p-8 sm:gap-5">
                        <div class="shadow-md flex-1 p-2 sm:p-10 flex flex-col sm:items-center sm:justify-center" *ngFor="let subCategory of item.subCategoryList">
                            <div>
                                subCategory: {{subCategory.name}}
                            </div>
                            <div>
                                cost: {{subCategory.cost}} e
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>