<div class="h-screen">
    <app-header></app-header>
    <div class="grid grid-cols-5 grid-rows-4 h-[80%] p-12 gap-3">
        <div class="col-span-3 row-span-1 shadow rounded grid grid-cols-4">
            <div class="col-span-2 flex flex-col justify-center m-5">
                <label>Name Budget</label>
                <input class="border rounded p-1" placeholder="Version 1" >
            </div>
            <div class="col-span-1 flex flex-col justify-center m-2">
                <label>Planned Budget(e)</label>
                <input class="border rounded p-1" placeholder="50000" />
            </div>
            <div class="col-span-1 flex flex-col justify-center m-2 mr-5">
                <label>No. Participants</label>
                <input class="border rounded p-1" placeholder="59" />
            </div>
        </div>
        <div class="col-span-2 row-span-4 shadow rounded">
            
        </div>
        <div class="col-span-3 row-span-3 shadow rounded">

        </div>
       
    </div>
    <div class="flex justify-between mt-3">
        <button routerLink="/home" class=" ml-12 p-3 rounded bg-purple-900/80 text-white flex items-center" ><mat-icon class="text-white">navigate_before</mat-icon>Back</button>
        <div class=" mr-12 p-3 rounded bg-purple-900/80 text-white flex items-center" >Create<mat-icon class="text-white">navigate_next</mat-icon></div>
    </div>
</div>
